<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/VAADIN"
            base-name="/VAADIN">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/lib"
            base-name="/lib">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/WebContent"
            base-name="/WebContent">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/VAADIN"
            base-name="/WebContent/WEB-INF/">
      </resource>
   </extension>
</plugin>
